- var MENU = LANG.menu;

footer.footer
	.container
		.footer__wrapper
			.footer__col.footer__copy.footer__copy--desc.text--small © GoodLabs 
				br
				| Smart Formulas
				br
				| 2020.
			.footer__links
				ul.footer__col.menu-footer
					li.menu-footer__item
						a.menu-footer__link(href="")!= MENU.item1
					li.menu-footer__item
						a.menu-footer__link(href="")!= MENU.item2
					li.menu-footer__item
						a.menu-footer__link(href="")!= MENU.item4
					li.menu-footer__item
						a.menu-footer__link(href="")!= MENU.item5
				ul.menu-footer
					li.menu-footer__item
						a.menu-footer__link(href="")!= MENU.item3
					li.menu-footer__item
						a.menu-footer__link(href="")!= MENU.item7
					li.menu-footer__item
						a.menu-footer__link(href="")!= MENU.item8
					li.menu-footer__item
						a.menu-footer__link(href="")!= MENU.item6
			.footer__privacy.footer__col
				a.footer__link.text--med(href="/privacy-policy.html")!= MENU.item9
				a.footer__link.text--med(href="/cookie-policy.html")!= MENU.item10
				a.footer__link.text--med(href="/terms.html")!= MENU.item11
				a.footer__link.text--med(href="https://anpc.ro/")!= MENU.item12
				a.footer__link.text--med(href="https://ec.europa.eu/info/law/law-topic/consumers_en")!= MENU.item13
			.footer__right
				p.footer__address.text--med!= MENU.address
				.footer__social.social
					a.social__link(href="")
						i.fico.fico-int
					a.social__link(href="")
						i.fico.fico-fb
				a.footer__email-link.text--med(href="mailto:support@goodlabs.com") support@goodlabs.com
		.footer__col.footer__copy.footer__copy--mob.text--small © GoodLabs 
			br
			| Smart Formulas 
			br
			| 2020.